
.animation1in {
	-webkit-animation: showFromLeft 1s linear forwards;
			animation: showFromLeft 1s linear forwards;
}

.animation1out {
	-webkit-animation: fadeLeft 1s linear forwards;
			animation: fadeLeft 1s linear forwards;
}

.animation2in {
	-webkit-animation: showFromRight 1s linear forwards;
			animation: showFromRight 1s linear forwards;
}

.animation2out {
	-webkit-animation: fadeRight 1s linear .2s forwards;
			animation: fadeRight 1s linear .2s forwards;
}

.animation3in {
	-webkit-animation: showFromTop 1s linear forwards;
			animation: showFromTop 1s linear forwards;
}

.animation3out {
	-webkit-animation: fadeUp 1s linear .4s forwards;
			animation: fadeUp 1s linear .4s forwards;
}

.animation4in {
	-webkit-animation: showFromRight 1s linear forwards;
			animation: showFromRight 1s linear forwards;	
}

.animation4out {
	-webkit-animation: fadeRight 1s linear .6s forwards;
			animation: fadeRight 1s linear .6s forwards;	
}

.animation5in {
	-webkit-animation: showFromLeft 1s linear forwards;
			animation: showFromLeft 1s linear forwards;
}

.animation5out {
	-webkit-animation: fadeLeft 1s linear .8s forwards;
			animation: fadeLeft 1s linear .8s forwards;
}

.animation6in {
	-webkit-animation: showFromTop 1s linear forwards;
			animation: showFromTop 1s linear forwards;
}

.animation6out {
	-webkit-animation: fadeUp 1s linear 1s forwards;
			animation: fadeUp 1s linear 1s forwards;
}
/* ================== */

.animation7in {
	-webkit-animation: showFromTop 1s linear forwards;
			animation: showFromTop 1s linear forwards;
}

.animation7out {
	-webkit-animation: fadeUp 4s linear .8s forwards;
			animation: fadeUp 4s linear .8s forwards;
}

/* =================== */

.animation8in {
	-webkit-animation: showFromRight 1s linear forwards;
			animation: showFromRight 1s linear forwards;
}

.animation8out {
	-webkit-animation: fadeRight 1s linear .9s forwards;
			animation: fadeRight 1s linear .9s forwards;
}

.animation9in {
	-webkit-animation: showFromLeft 0.8s linear forwards;
			animation: showFromLeft 0.8s linear forwards;
}

.animation9out {
	-webkit-animation: fadeLeft 0.8s linear 1s forwards;
			animation: fadeLeft 0.8s linear 1s forwards;
}

/* ============= showFromRight ========== */

@keyframes showFromRight {
	from {
	-webkit-transform: translateX(500%);
			transform: translateX(500%);
	}

	to {
	-webkit-transform: translateX(0%);
			transform: translateX(0%);
	}
}

@-webkit-keyframes showFromRight {
	from {
	-webkit-transform: translateX(500%);
			transform: translateX(500%);
	}

	to {
	-webkit-transform: translateX(0%);
			transform: translateX(0%);
	}
}

/* ============= showFromRight ========== */

@keyframes showFromLeft {
	from {
	-webkit-transform: translateX(-500%);
			transform: translateX(-500%);
	}

	to {
	-webkit-transform: translateX(0%);
			transform: translateX(0%);
	}
}

@-webkit-keyframes showFromLeft {
	from {
	-webkit-transform: translateX(-500%);
			transform: translateX(-500%);
	}

	to {
	-webkit-transform: translateX(0%);
			transform: translateX(0%);
	}
}

/* ============= showFromTop ========== */

@keyframes showFromTop {
	from {
	-webkit-transform: translateY(-500%);
			transform: translateY(-500%);
	}

	to {
	-webkit-transform: translateY(0%);
			transform: translateY(0%);
	}
}

@-webkit-keyframes showFromTop {
	from {
	-webkit-transform: translateY(-500%);
			transform: translateY(-500%);
	}

	to {
	-webkit-transform: translateY(0%);
			transform: translateY(0%);
	}
}

/* ============= fadeRight ========== */

@keyframes fadeRight {
	to {
	-webkit-transform: translateX(500%);
			transform: translateX(500%);
	}
}

@-webkit-keyframes fadeRight {
	to {
	-webkit-transform: translateX(500%);
			transform: translateX(500%);
	}
}

/* ============= fadeLeft ========== */

@keyframes fadeLeft {
	to {
	-webkit-transform: translateX(-500%);
			transform: translateX(-500%);
	}
}

@-webkit-keyframes fadeLeft {
	to {
	-webkit-transform: translateX(-500%);
			transform: translateX(-500%);
	}
}

/* ============= fadeUp ========== */

@keyframes fadeUp {
	to {
	-webkit-transform: translateY(-500%);
			transform: translateY(-500%);
	}
}

@-webkit-keyframes fadeUp {
	to {
	-webkit-transform: translateY(-500%);
			transform: translateY(-500%);
	}
}