/* ======= VARIABLES ========= */
/*@brand-red: #c3002b; red/pink */
/*@brand-purple: #6a0035;* purple/violet */
/*@bg-pic-color: #9abbc2;*/
/* ========= MIXINS ======== */
/* ============= Universal classes ============== */
.col-center {
  -webkit-flex: 1;
  flex: 1;
  /*width: ~"calc(100vw - 75vh)";*/
  height: 100%;
  /*min-width: 600px;*/
  /*min-height: 100vh;*/
  overflow: hidden;
}
.col-left {
  display: none;
}
.flex1 {
  -webkit-flex: 1;
  flex: 1;
}
.left {
  float: left;
}
.green-square {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  /*.min-size(100px, 100px);*/
  background-color: #2ecc71;
}
@media (max-width: 480px) {
  .green-square {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
  }
}
.dark-green-square {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  /*.min-size(100px, 100px);*/
  background-color: #27ae60;
}
@media (max-width: 480px) {
  .dark-green-square {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
  }
}
.main-picture {
  float: left;
  width: 100%;
  /*height: 50vh;*/
  /*min-height: 300px;*/
  background-color: #ecf0f1;
  background-image: url('../images/bg_new.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.clock {
  background-image: url('../images/clock.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo-left {
  background-image: url('../images/bird_logo_left.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.break {
  width: 100%;
  height: calc(100vh / 6);
  background-color: #a3b1b2;
}
/* ============= CSS min-width: 768px =========== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  /*height: 100%;*/
  min-height: 600px;
  /*cursor: default;*/
  overflow-x: hidden;
  background: #ffffff;
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.42857134;
}
/* ========== NAVIGATION ========= */
nav {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: calc(100vw / 6);
  transform: translateZ(0);
  /*avoidin blinking in chrome*/
  overflow: hidden;
}
@media (max-width: 480px) {
  nav {
    height: calc(100vw / 4);
  }
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: block;
  float: left;
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  /*.min-size(100px, 100px);*/
  text-align: center;
}
nav ul li:nth-child(odd) {
  background-color: #27ae60;
}
nav ul li:nth-child(even) {
  background-color: #2ecc71;
}
@media (max-width: 480px) {
  nav ul li {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
  }
  nav ul li:first-child,
  nav ul li:last-child {
    display: none;
  }
}
nav ul a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 3vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul a i {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 3.5em;
  transition: all 0.2s ease;
}
nav ul a:hover,
nav ul a:active,
nav ul a:focus {
  color: #ECF0F1;
  text-decoration: none;
  font-size: 3.3vw;
}
/* ========== HOME PAGE =========== */
#home-page {
  display: flex;
  /*position: absolute;*/
  /*visibility: hidden;*/
  width: 100%;
  height: 100%;
  /*min-height: 600px;*/
  z-index: 55;
}
.wrapper-inner {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.wrapper-inner:first-child {
  display: none;
}
.wrapper-inner > div:first-child:not(.main-picture) {
  -webkit-flex: 1;
  flex: 1;
  height: calc(100vw / 6);
  /*min-height: 100px;*/
  background-color: #ecf0f1;
}
.title {
  /*clear: left;*/
  width: 100%;
  height: 50vw;
  min-height: calc(50vh - 25vw);
  background: #ffffff;
  text-align: center;
}
.title > div {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}
.title h2 {
  margin: 0;
  font-size: 14vw;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -3px;
  text-transform: uppercase;
}
.title span {
  color: #ff4949;
}
.title h3 {
  margin-top: -0.5em;
  font-size: 5vw;
  font-weight: 300;
  line-height: 1;
}
.devices {
  width: 100%;
  height: 50vh;
  min-height: 300px;
  background-color: #ecf0f1;
  background-image: url('../images/bg_top_right.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo-right {
  width: 100%;
  height: calc(100vh / 6);
  min-height: 100px;
  background-color: #2ecc71;
  background-image: url('../images/bird_logo.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact {
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  height: calc(100vh / 3);
  background: #ffffff;
}
.contact .contact-icons {
  width: 100%;
  height: 90%;
}
.contact .copyright {
  width: 100%;
  height: 10%;
  background-color: #ecf0f1;
}
/* ========== ABOUT PAGE =========== */
#about-page {
  display: flex;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
  height: 100%;
  min-height: 600px;
  font-size: 3em;
  z-index: 44;
}
#about-page .col-center > div {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
#about-page p {
  padding: 5% 5% 0 5%;
  font-size: 0.5em;
}
#about-page .col-left > div:nth-child(1) {
  width: 100%;
  background-color: #2ecc71;
}
#about-page .col-left > div:nth-child(3) {
  width: 100%;
  background-color: #27ae60;
}
/*
#colleft div:first-child {
	width: 100%;
	.bg-green;
	background-image: url('../images/bird_logo.png');
	background-position: center center;
	background-size: 50%;
    background-repeat: no-repeat;
}
*/
.flat-icons {
  overflow: hidden;
  background-color: #ecf0f1;
}
.flat-icons span {
  float: left;
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}
.flat-icons span:nth-child(1) {
  background-image: url(../images/html_flat.png);
}
.flat-icons span:nth-child(2) {
  background-image: url(../images/css_flat.png);
}
.flat-icons span:nth-child(3) {
  background-image: url(../images/js_flat.png);
}
.flat-icons span:nth-child(4) {
  background-image: url(../images/jquery_flat.png);
}
.flat-icons span:nth-child(5) {
  background-image: url(../images/angular_flat.png);
}
.flat-icons span:nth-child(6) {
  background-image: url(../images/less_flat.png);
}
.flat-icons span:nth-child(7) {
  background-image: url(../images/sass_flat.png);
}
.flat-icons span:nth-child(8) {
  background-image: url(../images/bootstrap_flat.png);
}
.flat-icons span:nth-child(9) {
  background-image: url(../images/git_flat.png);
}
.flat-icons span:nth-child(10) {
  background-image: url(../images/grunt_flat.png);
}
.flat-icons span:nth-child(11) {
  background-image: url(../images/ps_flat.png);
}
.flat-icons span:nth-child(12) {
  background-image: url(../images/ai_flat.png);
}
.flat-icons span:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* ========== CONTACT PAGE =========== */
#contact-page {
  display: flex;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
  height: 100%;
  min-height: 600px;
  font-size: 3em;
  z-index: 33;
}
#contact-page .col-center > div {
  background: #ffffff;
}
#contact-page p {
  padding: 5% 5% 0 5%;
  font-size: 0.5em;
}
#contact-page .col-left div:nth-child(1),
#contact-page .col-left div:nth-child(2) {
  float: left;
  width: 50%;
  min-width: 0px;
}
#contact-page .col-left div:nth-child(5) {
  float: left;
  width: 100%;
}
