/* ======= VARIABLES ========= */

@brand-blue: #2C5379;
@brand-orange: #F8823C;
@brand-red: #c0392b;
@brand-purple: #8e44ad;
@arrow-color: #000000;
@brand-font-red: #ff4949;

@bg-pic-color: #ECF0F1;

/* ========= MIXINS ======== */

.bg-blue() { background-color: @brand-blue }
.bg-orange() { background-color: @brand-orange }
.bg-red() { background-color: @brand-red }
.bg-pic() { background-color: @bg-pic-color }

.min-size(@param1: 150px, @param2: 150px) { 
	min-width: @param1;
	min-height: @param2;
}

/* ============= Universal Classes =========== */

.full-page {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding: 7vh 0;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* ============= CSS =========== */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 600px;
    overflow-x: hidden;
    background: #ffffff;
    color: #ffffff;
    font-family: 'Raleway','Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.42857134; 
}

/* ========== HEADER and NAV ========= */

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	/*overflow: hidden;*/
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ffffff;
	/*transform: translateZ(0);*/
	z-index: 999;

	#logo {
		width: 55px;
		height: 55px;
		margin: 2px 10px 2px 0;
	}

	h2 {
		display: inline;
		padding: 0;
		margin: 0;
		font-size: 1.5em;
		font-weight: 100;
		letter-spacing: -0.5px;
		vertical-align: middle;
	 }

	 #menu-trigger {
		display: block;
		position: absolute;
		right: 10px;
		top: 2px;
		width: 60px;
		height: 50px;
		padding: 10px;

		span {
		    font-size: 2.5em;
		    color: #fff;
		    transition: color 0.3s linear;
		}

		a {
		    &:hover span { color: #404040 }
		}
	}

	.fa-fw {
	    width: 2.5em;
	    padding-right: 20px;
	    font-size: 1.5em;

	    @media (max-width: 480px) {
	    	margin-left: 15%
	    }
	}
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #fff;
	border-left: 5px solid #000000;
	z-index: 999;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	@media (max-width: 480px) {
		width: 100%;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	> i {
		width: 100%;
		padding: 10% 35%;
		color: #404040;
		font-size: 6em;

		@media (max-width: 480px) {
			padding: 7% 16%;
			margin-left: 0;
			font-size: 3em;
		}
	}

	li a {
		display: block;
		padding: 1.2em 1em 1.2em 2em;
		outline: none;
		color: #7f8c8d;
		text-transform: uppercase;
		font-family: "Francois One",sans-serif;
		letter-spacing: 1px;
		font-size: 1.2em;
		font-weight: 400;
		text-decoration: none;
		border-bottom: 1px solid #c1c1c1;
		-webkit-transition: background 0.5s, color 0.5s;
		transition: background 0.5s, color 0.5s;

		@media (max-width: 480px) {
			font-size: 1em;
		}

		&:hover {
			/*background: #e74c3c;*/
			color: #fff;
		}

	}

	li:first-child a {
		border-top: 1px solid #c1c1c1;
	}
}

.menu-open {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* ========== TRACK =========== */

#track {
	position: fixed;
	z-index: 99;
	bottom: 30px;
	left: 0;
	right: 0;
	height: 50px;
	transition: bottom .5s ease-in-out;

	&:before {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 113px;
		height: 12px;
		background-color: #fff;
		background-color: rgba(255,255,255,.15);
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 189px;
		width: 100%;
		height: 12px;
		background-color: #fff;
		background-color: rgba(255,255,255,.15);
	}

	#keys {
		position: absolute;
		bottom: 0;
		left: 116px;
		width: 70px;
		height: 46px;
		/*transition: all .5s ease;*/

		a {
			position: absolute;
			cursor: default;
			bottom: 0;
			height: 22px;
			width: 22px;
			text-indent: -999999px;
			background-color: #fff;
			background-color: rgba(255,255,255,.3);
			border-radius: 3px;
			transition: all .5s ease;

			&:after {
				content:'a';
				position: absolute;
				width: 0;
				height: 0;
			}

			&.active {
				background-color: #fff;
				background-color: rgba(255,255,255,.8);
			}
		}

		#keyUp {
			top: 0;
			left: 24px;

			&:after {
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
				border-bottom: 4px solid @arrow-color;
				top: 10px;
				left: 7px; 
			}
		}

		#keyRight { 
			right: 0;

			&:after {
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid @arrow-color;
				top: 7px;
				left: 10px;
			}
		}

		#keyDown {
			left: 24px;

			&:after {
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
				border-top: 4px solid @arrow-color;
				top: 10px;
				left: 7px;
			}
		}

		#keyLeft {
			left: 0;

			&:after {
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-right: 4px solid @arrow-color;
				top: 7px;
				left: 10px;
			}
		}
	}
}


/* ========== HOME PAGE =========== */

#home {
	position: relative;
	background-color: #2980b9;

	.container > div {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		line-height: 1;
		letter-spacing: -2px;
	}

	h3 {
		font-size: 5.5em;
		font-weight: 200;
	}

	span {
		display: block;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	p {
		font-size: 2.6em;
		font-weight: 100;
		margin-top: -16px;
	}
}

/* ========== ABOUT PAGE =========== */

#about {
	background-color: @brand-orange;

	h3 {
		font-size: 5.5em;
		font-weight: 200;
		letter-spacing: -2px;
		margin: 100px 0 50px;
	}

	.svg {
		width: 200px;
		height: 200px;
		position: relative;
		/*background-color: transparent;*/
		padding: 20px;
		margin: 30px auto;

		&.web {
			background-image: url('../images/laptop.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.mobile {
			background-image: url('../images/mobile.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.rwd {
			background-image: url('../images/rwd.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&:hover svg line.top {
			-webkit-transform: translateX(-400px);
			transform: translateX(-400px);			
		}

		&:hover svg line.bottom {
			-webkit-transform: translateX(400px);
			transform: translateX(400px);
		}

		&:hover svg line.left {
			-webkit-transform: translateY(400px);
			transform: translateY(400px);
		}

		&:hover svg line.right {
			-webkit-transform: translateY(-400px);
			transform: translateY(-400px);
		}
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	svg line {
		stroke-width: 10;
		stroke: #ffffff;
		fill: none;
		stroke-dasharray: 200;
		transition: transform .8s;
	} 

	h4 {
		font-size: 2em;
		text-align: center;
	}

	p {
		font-size: 1.2em;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
}


/* ========== EDUCATION PAGE =========== */

#education {
	background-color: @brand-red;
}

#experience {
	background-color: #9b59b6;
}


/* ========== CONTACT PAGE =========== */

#contact {
	background-color: @brand-blue;

	h3 {
		font-size: 5.5em;
		font-weight: 200;
		letter-spacing: -2px;
		margin: 100px 0 50px;
	}

	.svg2 {
		width: 150px;
		height: 150px;
		position: relative;
		/*background-color: transparent;*/
		padding: 20px;
		margin: 30px auto;

		&.mail {
			background-image: url('../images/laptop.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.phone {
			background-image: url('../images/mobile.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.linkedin {
			background-image: url('../images/rwd.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.github {
			background-image: url('../images/rwd.png');
			background-size: cover;
			background-repeat: no-repeat;
		}


		&:hover svg line.top {
			-webkit-transform: translateX(-300px);
			transform: translateX(-300px);			
		}

		&:hover svg line.bottom {
			-webkit-transform: translateX(300px);
			transform: translateX(300px);
		}

		&:hover svg line.left {
			-webkit-transform: translateY(300px);
			transform: translateY(300px);
		}

		&:hover svg line.right {
			-webkit-transform: translateY(-300px);
			transform: translateY(-300px);
		}
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	svg line {
		stroke-width: 10;
		stroke: #ffffff;
		fill: none;
		stroke-dasharray: 150;
		transition: transform .8s;
	} 

	h4 {
		font-size: 2em;
		text-align: center;
	}

	p {
		font-size: 1.2em;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
}