<div id="contact-page">
	<div class="row">
		<div class="col-sm-6 hidden-xs"></div>
		<div class="col-sm-6 details">
			<div>
				<span></span>
				<p class="clearfix">Do you need to convert your design into a working website?</p>
				<span></span>
				<p class="clearfix">Perhaps you want to build a web application?</p>
				<span></span>
				<p class="clearfix">Or maybe you have a lot of ideas and just want to share your knowledge?</p>
			</div>
		</div>
		<div class="col-sm-6">
			<ul>
				<li>
					<i class="fa fa-envelope-o fa-fw"></i>
					<span>a.kanius(.)wp.pl</span>
				</li>
				<li>
					<i class="fa fa-phone fa-fw"></i>
					<span>+48 733 788 326</span>
				</li>
				<li>
					<a href="http://pl.linkedin.com/in/arturkania85/" target="_blank">
						<i class="fa fa-linkedin fa-fw"></i>
						<span>Find me on Linkedin</span>
					</a>
				</li>
				<li>
					<a href="https://github.com/webak/webak.github.io" target="_blank">
						<i class="fa fa-github fa-fw"></i>
						<span>Github</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-6 hidden-xs"></div>
	</div>
</div>