<div id="contact-page">
	<div class="row">
		<div class="col-sm-6 hidden-xs"></div>
		<div class="col-sm-6 details">
			<span class="fa fa-check-square-o"></span>
			<p class="clearfix">Do you need to convert your design into a working website?</p>
			<span class="fa fa-check-square-o"></span>
			<p class="clearfix">Perhaps you want to build a web application?</p>
			<span class="fa fa-check-square-o"></span>
			<p class="clearfix">Or maybe you have a lot of ideas and just want to share your knowledge?</p>
			<br class="visible-lg">
			<span class="fa fa-check-square-o hidden-lg"></span>
			<p class="clearfix">Do not hesitate to contact me...</p>
		</div>
		<div class="col-sm-6">
			<ul>
				<li>
					<i class="fa fa-envelope-o fa-fw"></i>
					<span>webak.contact@gmail.com</span>
				</li>
				<li>
					<i class="fa fa-phone fa-fw"></i>
					<span>+48 733 788 326</span>
				</li>
				<li>
					<a href="http://pl.linkedin.com/in/arturkania85/" target="_blank">
						<i class="fa fa-linkedin fa-fw"></i>
						<span>Find me on Linkedin</span>
					</a>
				</li>
				<li>
					<i class="fa fa-github fa-fw"></i>
					<span>Github</span>
				</li>
			</ul>
		</div>
		<div class="col-sm-6 hidden-xs"></div>
	</div>
</div>