<div id="contact">
	<div class="row">
		<div class="col-sm-6 hidden-xs"></div>
		<div class="col-sm-6 details">
			<div>
				<span></span>
				<p class="clearfix">Do you need to convert your design into a working website?</p>
				<span></span>
				<p class="clearfix">Perhaps you want to build a web application?</p>
				<span></span>
				<p class="clearfix">Or maybe you have a lot of ideas and just want to share your knowledge?</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-6">
					<div>
						<span></span>
						<p>a.kanius()wp.pl</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div>
						<span></span>
						<p>+48 733 788 326</p>
					</div>
				</div>

				<div class="col-xs-6">
					<div>
						<a href="http://pl.linkedin.com/in/arturkania85/" target="_blank">
							<span></span>
							<p>LINKEDIN</p>
						</a>
					</div>
				</div>
				<div class="col-xs-6">
					<div>
						<a href="https://github.com/webak/webak.github.io" target="_blank">
							<span></span>
							<p>GITHUB</p>
						</a>
					</div>
				</div>
			</div>


<!--
			<ul>
				<li>
					<span></span>
					<p class="clearfix">a.kanius(.)wp.pl</p>
				</li>
				<li>
					<span></span>
					<p class="clearfix">+48 733 788 326</p>
				</li>
				<li>
					<a href="http://pl.linkedin.com/in/arturkania85/" target="_blank">
						<span></span>
						<p class="clearfix">Find me on Linkedin</p>
					</a>
				</li>
				<li>
					<a href="https://github.com/webak/webak.github.io" target="_blank">
						<span></span>
						<p class="clearfix">Github</p>
					</a>
				</li>
			</ul>
-->
		</div>
		<div class="col-sm-6 hidden-xs"></div>
	</div>
</div>